{% extends "layout.html" %} 

{% block jumbotron %}
    <h1>{{ data }}</h1>
    <p>This is a an algorithm that utilizes crowd sourced electronic medical record data to recommend treatment for Psoriasis. It intakes a new patient and classifies them based on their disease severity and demographic characteristics. It then returns the top three treatments currently be used by physicians for patients with a similar diagnosis.</p>
    <br>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">Return Home&raquo;</a></p>
{% endblock %} 

{% block content %}  
  <div class="container">
    <h1> {{ description }} </h1> 
  </div>
  <center>
  <iframe width="550" height="550" frameborder="0" seamless="seamless" scrolling="no" src= {{ barplot }} ></iframe>
</center>

  <div class="row">
    <div class="col-md-4">
      <h2>Interesting stuff</h2>
      <p> Add some stuff </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Interesting Stuff</h2>
      <p>Add some stuff </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Interesting stuff</h2>
      <p>Add some stuff</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>
  <div class="container">
    <h1>Shall we enter another new patient's information: </h1>
    <br>
    <a class="btn btn-primary btn-lg" href="/input" role="button">Continue&raquo;</a>
  </div>
{% endblock %} 