{% extends "layout.html" %} 

{% block jumbotron %}
    <h1>{{ data }}</h1>
    <p>Psoriasis is a common skin condition that changes the life cycle of skin cells and caused them to build up rapidly on the surface of the skin. These extra cells form thick, silvery scales and itchy, dry, red patches that are often painful. It is a persistent, chronic disease that often runs through cycles of better and worsening symptoms. Althought there isn't a cure, the goal of treatment is to stop the cells from growing so quickly and offer significant relief to the patient.</p>  
    <br>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">Return Home&raquo;</a></p>
{% endblock %} 

{% block content %}
  <div class="row">
    <div class="col-md-4">
      <h2>Interesting stuff</h2>
      <p> Add some stuff </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Interesting Stuff</h2>
      <p>Add some stuff </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Interesting stuff</h2>
      <p>Add some stuff</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
{% endblock %} 
